/media
/static
transport_reports/settings/local.py
south_migrations
*.swp
*.pyc
*.html~
*.py~
*.db
*.log
.project
.pydevproject
.sublimeproject
.tags
.idea/
.env/
/venv/
commands.txt
.python-version


!conf/template/

.DS_Store
dump.rdb